/**********************************Google font*/ 

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/**********************************Body*/ 
body{
    background-color: #F5F4E8;
}

h2, h3 {
    font-family: Poppins, sans-serif;
    
}

p {
    font-family: Poppins, sans-serif;
    
}

label {
    font-family: Poppins, sans-serif;
}

#banner-section {
    background-color: #FFD700;
    height: 100vh;
    

}

/**********************************General buttons */
.yellow-btn {
    background-color: #FFD700;
    border-color: #FFD700;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: #C50D66;
    line-height: 20px;
    border-radius: 10px;
}

.red-btn {
    background-color: #C50D66;
    border-color: #C50D66;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: #FFD700;
    line-height: 30px;
    border-radius: 10px;
}



/**********************************Banner*/ 
#banner-text {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    color: #C50D66;
    font-size: 2.8rem;
    padding-top: 11rem;
}

#intro-section {
    background-color: #FFffff;
    height: 100vh;

}

#intro-text {
    font-family: Poppins, sans-serif;
    color: #7A7778;
    font-size: 1rem;
    padding-top: 11rem;
    
}


.start-quiz-btn {
  font-size: 0.875rem;
  


}

/**********************************Question section*/ 

#question-section {
    padding: 56px 15px 0px 15px;
}

#question, #question-number {
    font-size: 1.5rem;
    font-weight: bold; 
    
}

#answer-select {
    background-color: #ffffff;
    padding: 0.2rem 1rem 1rem 1rem;
    margin: 0rem 0rem 2rem 0rem;
    border-radius: 10px;
}

#options {
    border-radius: 10px;
    background-color: #ffffff;
}


#options-spacing {
    margin: 30px 0px;  

}

.form-check {
    margin: 1.5rem 0rem 1.5rem 0rem; 

}



/*label {
    color: #7A7778;   
}*/


.custom-radio {
    width: 1rem; 
    height: 1rem; 
    border-radius: 50%; 
    appearance: none; /* Remove default styles */
    background-color: #fff; /* Set initial background color (white) */
    border: 1px solid #C50D66; /* Create a red border */
    cursor: pointer; /* Indicate clickable element */
    transition: background-color 0.2s ease-in-out; /* Smooth color transition on hover */
  }
  
  .custom-radio:hover {
    background-color: #C50D66; /* Red background on hover (can be adjusted) */
  }
  
  .custom-radio:checked {
    background-color: #C50D66; /* Red background on selection */
    
    
  }



#check-answer-btn {
    font-size: 1rem;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
  }

  #score-text {
    font-size: 1.25rem;
    font-weight: bold;

  }

  #score {
    font-size: 1.25rem;
    font-weight: normal;
    padding-left: 0.5rem;
  }

  #reveal {
    font-size: 1.25rem;
    font-weight: bold;
    /*color: #1ADE5D;*/
  }

#next-question-btn {
    font-size: 2rem;
    margin-top: 0rem;
    margin-bottom: 150px;
    
  }
  

  /****************************************************** media query Target screens wider than 768px*/

@media (min-width: 768px) {

    #intro-section {
        padding: 0rem 3rem 0rem 3rem;
    
    }

    #banner-section {
        padding: 0rem 3rem 0rem 3rem;
    }

    #banner-text {
        font-size: 4.5rem;
        
    }
    #intro-text {

        font-size: 1.5rem;
        
        
    }
    .start-quiz-btn {
        font-size: 2rem;
        line-height: 60px;
      
      }

     #question-center {
            display: flex;
            justify-content: center;
          }
 
    #question-section {
            padding: 112px 15px 0px 15px;
    }

}

/****************************************************** media query Target screens wider than 1024px*/
@media (min-width: 1024px) {
    #intro-section {
        padding: 0rem 5rem 0rem 5rem;
    }

    #intro-text {

        font-size: 1.5rem;
    }

    #banner-section {
        padding: 0rem 5rem 0rem 5rem;
    }

    #banner-text {
        font-size: 5rem;
        
    }
   
        
      
    }



/****************************************************** media query Target screens wider than 1920px*/
@media (min-width: 1920px) {
    #intro-section {
        padding: 0rem 8rem 0rem 8rem;
    }

    #intro-text {

        font-size: 3rem;
    }

    #banner-section {
        padding: 0rem 8rem 0rem 14rem;
    }

    #banner-text {
        font-size: 10rem;
        
    }
    
        
    .start-quiz-btn {
        font-size: 3rem;
        line-height: 60px;
      
      }
    }

/****************************************************** media query Target screens wider than 3200px*/
@media (min-width: 3200px) {
    #intro-section {
        padding: 0rem 12rem 0rem 12rem;
    }

    #intro-text {

        font-size: 5rem;
        padding-top: 20rem
    }

    #banner-section {
        padding: 0rem 12rem 0rem 16rem;
    }

    #banner-text {
        font-size: 18rem;
        padding-top: 20rem
    }
    
        
    .start-quiz-btn {
        font-size: 5rem;
        line-height: 120px;
      
      }
    }


/***************** To display correct and incorrect answers */
    .correct {
        background-color: #d4edda; /* Light green background */
        border-color: #c3e6cb; /* Light green border */
        color: #155724; /* Dark green text */
    }
    
    .incorrect {
        background-color: #f8d7da; /* Light red background */
        border-color: #f5c6cb; /* Light red border */
        color: #721c24; /* Dark red text */
    }

/***************** Hidden class for controlling visibility */
    .hidden { 
        display: none; 
    }

/***************** To display final message */
    .final-message {
        font-weight: bold;
        font-size: 1.2em; /
        text-align: center; 
        display: block;
        margin: 20px 0;
    }
